
@font-face {
  font-family: "x5";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
          url("https://hetcdn.nl/fonts/x5.woff2") format("woff2"),
          url("https://hetcdn.nl/fonts/x5.woff") format("woff"),
          url("https://hetcdn.nl/fonts/x5.ttf") format("truetype");
}

:root {
  --font--x5: "x5", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

.font--x5 {
  font-family: var(--font--x5);
  font-weight: 400;
  font-style: normal;
}
